$clr-black: #000003;
$clr-white: #f2ece9;
$clr-dark: #00142d;
$clr-blue: #85c8f2;
$clr-brown: #975f40;

body {
    background-color: $clr-dark;
}

.items-display {
    display: flex;
}

.item {
    img {
        width: 64px;
        cursor: pointer;
    }
}

#popup-container {
    // Layout
    margin: 0 auto;
    width: 85vw;
    height: 80vh;
    // Style
    color: $clr-black;
    background-color: $clr-blue;
    border-radius: 4%;
    border: 2px $clr-white solid;

    .popup-info {
        padding-top: 2%;
        margin: 0 5%;
        font-weight: 600;

        span {
            font-weight: initial;
        }
    }

    #pop-name {
        text-align: center;
        font-size: 200%;
        text-decoration: underline;
    }

    #pop-description {
        text-align: center;
    }
}