$clr-black: #000003;
$clr-white: #f2ece9;
$clr-dark: #00142d;
$clr-blue: #85c8f2;
$clr-brown: #975f40;

body {
    background-color: $clr-dark;
}

.items-display {
    display: flex;
}

.item {
    img {
        width: 64px;
        cursor: pointer;
    }
}

.details-wrapper {

}

#popup-container {
    width: 85vw;
    height: 50vh;
    color: $clr-black;
    background-color: $clr-blue;
}